@font-face {
	font-family: 'NEXT ART';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/NEXT-ART_Bold.woff2) format('woff2'),
	url(../../fonts/NEXT-ART_Bold.woff) format('woff');
}

@font-face {
	font-family: 'Nunito Sans';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/NunitoSans_7pt-Bold.woff2) format('woff2'),
	url(../../fonts/NunitoSans_7pt-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Nunito Sans';
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/NunitoSans_7pt-ExtraBold.woff2) format('woff2'),
	url(../../fonts/NunitoSans_7pt-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Nunito Sans';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/NunitoSans_7pt-Regular.woff2) format('woff2'),
	url(../../fonts/NunitoSans_7pt-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Nunito Sans';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/NunitoSans_7pt-SemiBold.woff2) format('woff2'),
	url(../../fonts/NunitoSans_7pt-SemiBold.woff) format('woff');
}
