// viewport
$max-sm: 575px;
$min-sm: 576px;

$max-md: 767px;
$min-md: 768px;

$max-lg: 989px;
$min-lg: 990px;

$max-xl: 1180px;
$min-xl: 1181px;

$min-xxl: 1920px;

:root {
	--transition-duration: 150ms;
	--transition-function: ease-in-out;

	--text: #18121E;
	--light: #FDFDFD;
	--primary: #1A3E3E;
	--secondary: #F2BE22;
}
